{% extends "logistica/base.html" %}
{% block title %}Rutas{% endblock %}
{% block content %}

<h1 class="mb-4">Rutas</h1>

<a href="/rutas/create/" class="btn btn-primary mb-3">Crear Ruta</a>

<table class="table table-hover table-bordered shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>Nombre Ruta</th>
            <th>Destino</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

{% endblock %}
