{% extends "logistica/base.html" %}
{% load static %}

{% block title %}Vehículos{% endblock %}
{% block header_title %}Listado de Vehículos{% endblock %}

{% block content %}

<h2 class="mb-4">Vehículos Registrados</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Placa</th>
        </tr>
    </thead>
    <tbody>
        <!-- vacío por ahora hasta que llegue tu backend -->
    </tbody>
</table>

{% endblock %}
